# ==================================================
# Git
# ==================================================
.git
.gitignore

# ==================================================
# Python
# ==================================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==================================================
# Virtual Environment
# ==================================================
venv/
.venv/
env/

# ==================================================
# IDE
# ==================================================
.vscode/
.idea/

# ==================================================
# Cache
# ==================================================
.pytest_cache/
.streamlit/cache/

# ==================================================
# Development
# ==================================================
tests/

# ==================================================
# Operating System
# ==================================================
Thumbs.db
desktop.ini
.DS_Store